header {
  color: #fff;
  backdrop-filter: blur(12px) saturate(161%);
  -webkit-backdrop-filter: blur(12px) saturate(161%);
  background-color: rgba(0, 0, 0, 0.54);
  border: 1px solid rgba(255, 255, 255, 0.125);
  min-height: 150px;
}
.list {
  height: 100%;
  max-height: 12160px;
  padding: 0.5em;
  list-style-type: none;
}
.list-item {
  padding-left: 1em;
  font-size: 2rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.list-item:nth-child(odd) {
  color: #f2f1ef;
  background-color: #6e304b;
  margin: 0.5em 0;
}
.list-item:nth-child(even) {
  color: #e2ae6c;
  background-color: #22161c;
}

.btn {
  color: #fff;
  background-color: #333;
  max-width: 250px;
  width: 100%;
  font-size: 2rem;
  padding: 0.5em 1em;
  margin: 1em;
  box-shadow: 0px 6px 4px 1px #fff;
  transition: 1s all ease;
}
.btn:hover {
  color: #fff;
}

input[type='number'] {
  background-color: transparent;
  border: none;
  transition: all 1s ease;
  border-bottom: 2px solid rgb(255, 230, 230);
  color: #fff;
  height: 50%;
  text-align: center;
  font-size: 2rem;
  width: 50%;
}
input[type='submit'] {
  background-color: transparent;
  color: #fff;
  box-shadow: 0px 5px 6px 5px rgb(58 18 13 / 0%);
}
#blackboard-primary {
  color: #fff;
  border: tan solid 20px;
  background: url('./assets/bored-3.webp') no-repeat center/cover;
  border-top: #bda27e solid 20px;
  border-left: #b19876 solid 20px;
  border-bottom: #c9ad86 solid 20px;
  box-shadow: 0px 0px 6px 5px rgb(58 18 13 / 0%), 0px 0px 0px 2px #c2a782,
    0px 0px 0px 4px #a58e6f, 3px 4px 8px 5px rgb(0 0 0 / 50%);
  z-index: 0;
}
#blackboard-secondary {
  color: #fff;
  display: flex;
  justify-content: center;
  height: 100%;
  border: #6fa58a solid 20px;
  background: url('./assets/bored-3.webp') no-repeat center/cover;
  border-top: #7ebda0 solid 20px;
  border-left: #76b1b1 solid 20px;
  border-bottom: #86aec9 solid 20px;
  box-shadow: 0px 0px 6px 5px rgb(58 18 13 / 0%), 0px 0px 0px 2px #86aec9,
    0px 0px 0px 4px #6fa5a2, 3px 4px 8px 5px rgb(0 0 0 / 50%);
  z-index: 0;
}
#getFacts {
  border-bottom: 5px dotted #ddd;
}
#getFacts:last-child {
  border: none;
}
#getRandomFacts {
  text-align: center;
  height: 70vh;
}

#start :first-child,
#start :last-child,
#end :first-child,
#end :last-child {
  cursor: pointer;
  background-color: #fff;
  border-radius: 20px;
  margin: 10px;
  color: #333;
  height: 1em;
  transition: all 0.5s ease;
}
#start :first-child:hover,
#start :last-child:hover,
#end :first-child:hover,
#end :last-child:hover {
  background-color: #333;
  color: #fff;
}
.footer-container {
  padding: 1em;
  background-color: #a0801686;
}
.footer-container ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  padding: 1em;
}
.footer-container ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100px;
  background-color: #22161c;
  border-radius: 50%;
  transition: all 0.5s;
}
.footer-container ul li:hover {
  background-color: #e6d821;
}
.footer-container ul li img {
  width: 100%;
  min-width: 50px;
}
@media only screen and (min-width: 1200px) {
  #inputValue:focus {
    margin: 2em;
  }
  #Facts {
    width: 50%;
  }
}
@media only screen and (min-width: 800px) {
  #inputValue:focus {
    margin: 1em;
  }
  #Facts {
    width: 50%;
  }
}
@media only screen and (min-width: 600px) {
  #inputValue:focus {
    margin: 1em;
  }
}
@media only screen and (max-width: 600px) {
  #getRandomFacts {
    text-align: center;
    height: fit-content;
  }
  /* .footer-container ul li {
    padding: 30px;
  }
  .footer-container ul li {
    padding: 30px;
  } */
}
