.footerContainer {
  margin-top: 2em;
  background-color: rgba(51, 51, 51, 0.788);
  padding: 8em;
  padding-bottom: 2em;
  clip-path: polygon(50% 20%, 100% 0, 100% 100%, 0 100%, 0 0);
}
.copyright {
  color: #fff;
  text-align: center;
  font-size: 2rem;
}
.List {
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: space-evenly;
}
.ListItem {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22161c;
  padding: 1em;
  border-radius: 50%;
  transition: all 0.5s;
}
.ListItem:hover {
  background-color: #e6d821;
}
.ListItem img {
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 500px) {
  .footerContainer {
    padding: 2em;
  }
  .ListItem img {
    width: 50px;
    height: 50px;
  }
}
