.footerContainer {
  position: relative;
  margin-top: 2em;
  padding-bottom: 2em;
}
.copyright {
  color: #fff;
  text-align: center;
  font-size: 2rem;
}
.List {
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: space-evenly;
}
.ListItem {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22161c;
  padding: 1em;
  border-radius: 50%;
  transition: all 0.5s;
}
.ListItem:hover {
  background-color: #e6d821;
}
.ListItem img {
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 800px) {
  .footerContainer {
    padding: 2em;
  }
}
