.single {
  margin: 0.5em;
  text-align: center;
  font-size: 5rem;
}
.Type {
  font-size: 3.5rem;
}
.Fact {
  width: 90%;
}
@media screen and (min-width: 768px) {
  .single {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
