.list {
  height: 100%;
  max-height: 12160px;
  padding: 4vw;
  list-style-type: none;
}
.listItem {
  padding-left: 1em;
  font-size: 2rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1em;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: 15px;
  border: 3px solid rgba(255, 255, 255, 0.125);
}
.listItem:nth-child(odd) {
  margin: 0.5em 0;
}
.listItem:nth-child(even) {
  color: #e2ae6c;
}
