.single {
  margin: 0.5em;
  text-align: center;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
}
.FindButton {
  background-color: #333;
  color: #fff;
  margin: auto;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 2rem;
}
.Random {
  font-size: 3rem;
  padding: 1em 0.5em;
}
.Type {
  font-size: 3.5rem;
}
.Fact {
  width: 90%;
  margin: 2rem auto;
  border-right: 2px solid #fff;
}
.SelectNumber {
  padding: 1em;
  user-select: none;
}
.RandomBtn {
  margin-top: 1rem;
  font-size: 2rem;
  padding: 1em;
  width: 80%;
  margin-left: auto;
}
.Title {
  font-size: 3rem;
  text-align: center;
}
.Range {
  font-size: 1.5rem;
  text-align: center;
}
.line {
  border-bottom: #fff dotted 10px;
  margin: 1em;
  display: none;
}
.SubTitle p {
  font-weight: bold;
  padding: 1em;
  text-align: center;
}
.Flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ButtonFlex {
  text-align: center;
  width: 100%;
}
.TypeBtn {
  background-color: #776767;
  color: #fff;
  border: none;
  border-radius: 0.5em;
  padding: 1em;
  margin: 0.5rem;
  width: 70%;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s all ease-in;

  background-color: #333;

  border: 2px solid #fff;
  border-radius: 10px;
}
.TypeBtn:focus,
.TypeBtn:hover,
.TypeBtn:active {
  outline: none;
  margin-top: 0.5em;
  background-color: #333;
}
.Logo {
  display: none;
}

@media screen and (max-width: 500px) {
  .line {
    display: block;
  }
  .Fact {
    border-right: none;
  }
}
@media screen and (min-width: 500px) {
  .Logo {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .single {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 5rem;
  }
  .Random {
    font-size: 5rem;
    padding: 1em 0.5em;
  }
  .FindButton {
    padding: 1em 2em;
  }
  .SubTitle p {
    font-size: 3rem;
  }
  .ButtonFlex {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* Desktop Size */
@media screen and (min-width: 1200px) {
  .Range {
    display: flex;
    font-size: 5rem;
    text-align: left;
  }
  .TypeBtn {
    width: 30%;
  }
}
