body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(97, 91, 91);
  font-family: Arial, Helvetica, sans-serif;
  font-family: pastelRegular, Arial, Helvetica, sans-serif;
  background-color: #e6c290;
  background: url("../assets/horixonalpencil.webp") no-repeat center/cover;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "pastelRegular";
  font-style: normal;
  font-weight: normal;
  src: local("pastelRegular"), url("../fonts/pastelCrayon.woff") format("woff");
  font-display: swap;
}
header {
  color: #fff;
  backdrop-filter: blur(12px) saturate(161%);
  -webkit-backdrop-filter: blur(12px) saturate(161%);
  background-color: rgba(0, 0, 0, 0.287);
  border: 1px solid rgba(255, 255, 255, 0.125);
  min-height: 150px;
}
.Loading {
  display: flex;
  justify-content: center;
}
.pointer {
  cursor: pointer;
  padding: 0.5em;
  border-radius: 0.5em;
  transition: 0.5s all ease-in;
}
.pointer:focus,
.pointer:hover,
.pointer:active {
  outline: none;
  margin-top: 0.5 em;
  background-color: #7c7272;
}

.board {
  color: #fff;
  background-color: #333;
  height: 100%;
  z-index: 0;
}

.blackboard-primary {
  border: tan solid 20px;
  border-top: #bda27e solid 20px;
  border-left: #b19876 solid 20px;
  border-bottom: #c9ad86 solid 20px;
  box-shadow: 0px 0px 6px 5px rgb(58 18 13 / 0%), 0px 0px 0px 2px #c2a782,
    0px 0px 0px 4px #a58e6f, 3px 4px 8px 5px rgb(0 0 0 / 50%);
}
.blackboard-secondary {
  justify-content: center;
  border: #6fa58a solid 20px;
  border-top: #7ebda0 solid 20px;
  border-left: #76b1b1 solid 20px;
  border-bottom: #86aec9 solid 20px;
  box-shadow: 0px 0px 6px 5px rgb(58 18 13 / 0%), 0px 0px 0px 2px #86aec9,
    0px 0px 0px 4px #6fa5a2, 3px 4px 8px 5px rgb(0 0 0 / 50%);
}

input[type="submit"] {
  background-color: transparent;
  color: #fff;
  box-shadow: 0px 5px 6px 5px rgb(58 18 13 / 0%);
}

@media only screen and (min-width: 600px) {
  .board {
    background: url("../assets/bored-3.webp") no-repeat center/cover;
  }
}
